@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background-color: #ffffff;
  --text-color: #333333;
}

.dark {
  --background-color: #121212;
  --text-color: #f5f5f5;
} */

/* body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
} */

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
  body {
    @apply font-primary bg-white text-blue-800 leading-loose;
  }
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05); /* Slightly zoom in */
  }
  100% {
    transform: scale(1);
  }
}

.zoom-effect {
  animation: zoomInOut 10s ease-in-out infinite; /* Adjust duration as needed */
}

.image-container {
  position: relative;
  height: 100%; /* Ensures full height */
  width: 100%; /* Ensures full width */
  overflow: hidden; /* Prevents overflow during zoom */
}
